// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42

#define Linux_x86_64	    1
#define BLUEZ_TOOLS_SUPPORT 1
#define PAIRING_ENABLE_CRYPTO 1
#define RNM_SUPPORT_BLE 1
#define CONFIG_RNM_PRODUCT_CPRO 1
#define BTPSAPI
#define SYS_VOLATILE_PATH
#define DEBUG_ENABLED
#define TEST_HCI1_DEVICE
